<div class="story">
    <div class="container fluid">
        <div class="row-fluid">
            <div class="span6 float-box pull-right">
                <h2>Beginners</h2>
                <p>Have you wanted to experiment with HDR, but are unsure where to start?</p>
                <div class="quiet">
                  <div class="additional">
                    <p>
                      ThePhotoLabs has you coverd.  There's nothing to install and we provide great looking
                      templates to get you started off on the right track.
                    </p>
                    <p>
                      The tempaltes allow you to instantly acheive great looking results with
                      your own photos, while also acting as a teaching tool to let you understand how
                      all the pieces fit together.
                    </p>
                    <p>
                      By starting with the template settings, making some tweaks and watching the results, 
                      you'll be branching off and creating your own unique style in no time.
                    </p>
                  </div>
                  <%= render 'more_less' %>
                  <a href="#fourth" class="btn btn-inverse pull-right"><i class="icon-arrow-right icon-white"></i> <span>Next</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

