<div class="story">
    <div class="container fluid">
      <div class="row-fluid">
        <div class="span3">
          
        </div>
            <div class="span6 float-box">
                <h1>ThePhotoLabs <span class="rnd">beta</span></h1>
                <p>High volume HDR processing, harnessing the power of the cloud.</p>
                <div class="span1">
                  
                </div>
                <div class="span9 quiet">
                <p>
                  <b><a href="#second" class="scroll-nav">For HDR professionals</a></b> it's a great way to manage your collection and to speed up your work flow.
                </p>
                <p>
                  <b><a href="#third" class="scroll-nav">For HDR beginners</a></b> it's an easy way to get started with HDR, without the need to install any software.
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
