<a href="#" class="btn btn-inverse more"><i class="icon-arrow-down icon-white"></i> <span>More</span></a>
<a href="#" class="btn btn-inverse more less"><i class="icon-arrow-up icon-white"></i> <span>Less</span></a>
