<div class="story">
    <div class="container fluid">
        <div class="row-fluid">
            <div class="span6 float-box">
                <h2>HDR Professionals</h2>
                <p>Simultaneously process hundreds of bracketed sets at one time.  ThePhotoLabs automatically scales up to handle your biggest shoots.</p>
                <div class="quiet">
                  <div class="additional">
                    <p>
                      After taking hundreds or thousands of exposures on a shoot it can
                      be a real challenge to prepare high quality HDR proofs for clients.
                    </p>
                    <p>
                      With ThePhotoLabs you can prepare templates that allow you to apply
                      your own custom prossecing chains to entire galleries at one time.
                    </p>
                    <p>
                      Your galleries are easy to navigate and include features that allow
                      your clients to let you know which ones they like.
                    </p>
                    <p>
                      Is it a substitute for the results that you as a pro can acheive when
                      processing by hand?  Not quite yet (and we're working on that), but it's a great tool to help you
                      decide where to focus your efforts.
                    </p>
                  </div>
                  <%= render 'more_less' %>
                  <a href="#third" class="btn btn-inverse pull-right"><i class="icon-arrow-right icon-white"></i> <span>Next</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
