<div class="story">
    <div class="container fluid">
        <div class="row-fluid">
            <div class="span6 float-box">
                <h2>Sign up today</h2>
                <p>Getting started is quick and easy.</p>
                <p>
                  All plans come with a 30 day free trial.  If you try ThePhotoLabs and you
                  don't like it, just cancel before the end of the trial and you will
                  never be billed.  Promise.
                </p>
                <%= link_to "I'm ready, sign me up!", "http://www.thephotolabs.com/users/sign_up", :class=> 'btn btn-primary' %>
            </div>
        </div>
    </div>
</div>
