<div class="container-fluid">
  <div class="story">
    <div class="row-fluid">
        <h1>So, how does this work?</h1>
        <p>
          Working with templates make the process super easy.
          Just upload your images, then selet either one of our many provided templates,
          or maybe one of your own desand, and then split your uploaded images into bracketed sets.
          That's it!
        </p>
       <div class="span10">

      <h2>Upload Images</h2>
      
      <ul class="thumbnails">
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
      </ul>
      <h2>Select a template</h2>
      <ul class="thumbnails">
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
      </ul>
      <h2>Split into bracketed sets</h2>
      <ul class="thumbnails">
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
      </ul>

      <h2>Custom Processing</h2>
      <p>
        Each image is different and templates may not deliver the best results when
        it comes times to produce a final, print ready image.  Custom processing 
        is easy, and fast!
      </p>
      <ul class="thumbnails">
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
            <img src="./index2_files/260x180" alt="">
          </a>
        </li>
      </ul>

    </div>


    </div>
  </div><!--.story--> 
</div>
