<div class="container fluid">
  <div class="story">
    <div class="row-fluid">
        <h1>So, how does this work?</h1>
        <p>
          Working with templates makes the process super easy.
          Just upload your images, then selet either one of our many provided templates,
          or maybe one of your own design, and split your uploaded images into bracketed sets.
          That's it!
        </p>
        <div class="span8">
          <hr />
      
          <h2>Upload Images</h2>
          <p>
            The drag-&amp;-drop uploader make uploading a breeze.
            Just drag files out of your file system and into the browser.  
            Then click 'start upload'.  It's really that easy.
          </p>
          <p><%= image_tag 'upload.png' %></p>
          <p>
            Your originals are safely stored away so that you can retreive or 
            reprocess them at any time.
          </p>

          <hr />

          <h2>Select a template and split into bracketed sets</h2>
          <p>
            The drag-&amp;-drop bracketed set splitter allows you to easily apply a template
            as you split your incoming photos into bracketed sets.  
          </p>
          <p><%= image_tag 'splitter.png' %></p>

          <hr />

          <h2>Custom Processing and Creating Templates</h2>
          <p>
            Each image is different and templates may not always deliver the best results when
            it comes times to produce a final, print ready image.  Custom processing 
            is easy, and fast!  Any bracketed set can be saved as a template so you can 
            easily reproduce your results.
          </p>
          <ul class="thumbnails">
            <li class="span3">
              <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
                <img src="./index2_files/260x180" alt="">
              </a>
            </li>
            <li class="span3">
              <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
                <img src="./index2_files/260x180" alt="">
              </a>
            </li>
            <li class="span3">
              <a href="http://wbpreview.com/previews/WB002R8U1/#" class="thumbnail">
                <img src="./index2_files/260x180" alt="">
              </a>
            </li>
          </ul>

      </div>


    </div>
  </div><!--.story--> 
</div>
