<div id="home">
    <%= render 'intro' %>
</div>
<!--#intro--> 



<!--#second-->
<div id="second">
  <%= render 'pros' %>
</div>
<!--#second-->

<!--#third-->
<div id="third">
	<%= render 'beginners' %>
</div>
<!--#third-->

<!--#fourth-->
<div id="fourth">
  <%= render 'workflow' %>
</div>
<!--#fourth-->

<!--#fifth-->
<div id="fifth">
	<div class="container-fluid">
	    <div class="story">
        	<div class="row-fluid">
            <div class="span4">
                <h1>Contact us</h1>
                <p> <strong>Phone: </strong>+12 [3] 45678910<br>
                    <strong>Fax: </strong>+12 [3] 45678913 <br>
                    <br>
                    <strong>Address: </strong>12/562 Little Palm Street
                    23056 City Canada <br>
                 </p>
            </div> <!-- /span --> 
            </div>
        </div>
    </div>
</div>
<!--#fifth-->

<!-- footer --> 
<footer class="footer"> 
	<div class="row">
	<div class="span2"><a class="btn btn-inverse" href=""><i class="icon-bookmark"></i>Bookmark</a> </div> <!-- sample button -->
    <div class="span3"><p> © Portfolio Igniter 2012</p></div>
    </div>
</footer>
<!-- /footer --> 

<!-- Le JS --> 
<script>
$(document).ready(function(){
  $('#main-nav').localScroll(800);
  $('#home').localScroll(800);
  $('#second').localScroll(800);
  $('#third').localScroll(800);

	RepositionNav();
	$(window).resize(function(){
		RepositionNav();
	});	
	// .parallax(xPosition, adjuster, inertia, outerHeight) options:
	// xPosition - Horizontal position of the element.
	// adjuster - y position to start from.
	// inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling.
	// outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport.
  $('#intro').parallax("50%", 0, 0.1, true);
	$('#second').parallax("50%", 2650, 0.55, true);
	$('.bg').parallax("5%", 3000, 0.8, true);
	$('.bg2').parallax("30%", 3500, 0.8, true);
	$('#third').parallax("50%", 3100, 0.1, true);
  $('#fourth').parallax("50%", 3000, 0.1, true);
})
	$('#navbar').scrollspy();
</script>

<script>
$(".collapse").collapse()
</script>


<!-- page fade effect - this simple trick first waits for page to load(images, content) and after it's loaded fades it. You can remove it by deleting this section. -->
<!-- read documentation -->
<script>
$(document).ready(function() {
	$('#page').fadeTo(1500, 1);
});
</script>
<!-- /page fade effect -->
