<div class="btn-group pull-right">
  <a class="btn dropdown-toggle btn-inverse" data-toggle="dropdown" href="#">
    Photos
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Norman, OK",    "#", :class=>'gallery', :value=>'norman' %></li>
    <li><%= link_to "New York City", "#", :class=>'gallery', :value=>'nyc' %></li>
    <li><%= link_to "Seattle",       "#", :class=>'gallery', :value=>'seattle' %></li>
    <li><%= link_to "Space Needle",  "#", :class=>'gallery', :value=>'needle' %></li>
  </ul>
</div>
